<h1>&iquest;Qu&eacute; est&aacute; relamente detr&aacute;s de la directiva de la UE que &quot;prohibir&iacute;a los memes&quot; &ndash; y c&oacute;mo pararla antes del 20 de junio?</h1>
<strong>Con menos de dos semanas para una votaci&oacute;n crucial</strong> en el parlamento europeo, m&aacute;s y m&aacute;s gente se est&aacute; dando cuenta de los planes inminentes para &quot;<a href="https://juliareda.eu/eu-copyright-reform/censorship-machines/" target="_blank" rel="noopener">m&aacute;quinas de censura</a>&quot; y un &quot;<a href="https://juliareda.eu/eu-copyright-reform/extra-copyright-for-news-sites/" target="_blank" rel="noopener">impuesto sobre los enlaces</a>&quot; en la UE. (<a href="https://juliareda.eu/eu-copyright-reform/" target="_blank" rel="noopener">Ponte al d&iacute;a aqu&iacute;.</a>) La gente se est&aacute; dando cuenta:
<blockquote class="big">Nuestra libertad para subir contenidos y compartir enlaces, y por lo tanto para expresarnos en las redes, est&aacute; en peligro.[tweetthis]Nuestra libertad para subir contenidos y compartir enlaces, y por lo tanto para expresarnos en las redes, est&aacute; en peligro.[/tweetthis]</blockquote>
El Art&iacute;culo 13 de la Directiva de Copyright obligar&aacute; a las plataformas de Internet (redes sociales, servicios de alojamientos de v&iacute;deos o im&aacute;genes, etc.) a instalar <strong>filtros de subida</strong> para monitorear todas las subidas de los usuarios en busca de contenido protegido por copyright, incluido im&aacute;genes &ndash; y por tanto bloquear la mayor&iacute;a de memes, los cuales generalmente se basan en im&aacute;genes con copyright.
<h2>Cada voto cuenta</h2>
Ahora mismo parece que hay una <strong>mayor&iacute;a por la m&iacute;nima a favor del Art&iacute;culo 13</strong>. Los negociadores por el <a href="https://es.wikipedia.org/wiki/Partido_Popular_Europeo" target="_blank" rel="noopener">PPE</a> (conservadores), <a href="https://es.wikipedia.org/wiki/Grupo_de_la_Alianza_de_los_Liberales_y_Dem%C3%B3cratas_por_Europa" target="_blank" rel="noopener">ALDE</a> (liberales), <a href="https://es.wikipedia.org/wiki/Grupo_de_los_Conservadores_y_Reformistas_Europeos" target="_blank" rel="noopener">ECR</a> (conservadores euroesc&eacute;pticos) y <a href="https://en.wikipedia.org/wiki/Europe_of_Nations_and_Freedom" target="_blank" rel="noopener">ENL</a> (extrema derecha antieurope&iacute;sta) en la Comisi&oacute;n Jur&iacute;dica del Parlamento Europeo recientemente expresaron su apoyo a la &uacute;ltima versi&oacute;n del Art&iacute;culo 13.

En conjunto, estos grupos tienen 13 votos en la Comisi&oacute;n Jur&iacute;dica del Parlamente Europeo &ndash; <strong>uno m&aacute;s que la oposici&oacute;n:</strong>

[caption id="attachment_9499" align="alignnone" width="1680"]<img class="wp-image-9499 size-full" style="border: 1px solid #ccc;" src="https://juliareda.eu/wp-content/uploads/2018/06/art13juri.png" alt="" width="1680" height="1304" /> &iexcl;Comparte &eacute;sta imagen! Licencia: Dominio p&uacute;blico[/caption]

<strong>Cada voto ser&aacute; decisivo.</strong> Nuestra misi&oacute;n hasta el 20 de junio: Dejar claro al menos a un miembro del Parlamento Europeo que est&eacute; actualmente indeciso o a favor que sus electores quieren que rechace estos planes. La ONG EDRi ha hecho una <a href="https://edri.org/files/Copyright_JURI_MEPs_undecided.pdf" target="_blank" rel="noopener">lista de votos indecisos que son claves</a>.
<div id="magicdomid494" class="ace-line"><span class="author-a-xyz87z4z86zmnyz81zz69zz82zodz80zz80zz122z"><strong>&iexcl;Podemos conseguirlo! Y tu contribuci&oacute;n puede marcar una diferencia crucial.</strong> Cada llamada, cada acto de compartir y cada idea para una campa&ntilde;a podr&iacute;a ser lo que salve a nuestras libertades en la red de ser restringidas.</span></div>
<a id="why" name="why"></a>
<h2>&iquest;En qu&eacute; est&aacute;n pensando?</h2>
Para convencer a estos europarlamentarios debemos entender a qu&eacute; nos enfrentamos.

<strong>Los grandes lobbies corporativos</strong> est&aacute;n exigiendo estas leyes, con la esperanza de generar beneficios adicionales y obtener un mayor control sobre la Web, despu&eacute;s de perderse gran parte de la transformaci&oacute;n digital. P&uacute;blicamente, insisten en que estas leyes son necesarias para proteger a las industrias culturales europeas de la explotaci&oacute;n por las plataformas de internet extranjeras. Hasta se asume que el impuesto sobre los enlaces por s&iacute; mismo &quot;salvar&aacute; el periodismo&quot;.

Esta narrativa atrae la atenci&oacute;n de algunos pol&iacute;ticos, porque son objetivos loables y los problemas subyacentes son reales: la financiaci&oacute;n para el periodismo de calidad est&aacute; realmente bajo presi&oacute;n. Google y Facebook tienen una fuerza preocupante y no contribuyen lo suficiente a la econom&iacute;a europea.

Pero <a href="https://juliareda.eu/eu-copyright-reform/#criticism" target="_blank" rel="noopener">expertos independientes coinciden</a>: las leyes de derechos de autor no son la fuente de estos problemas, y <strong>estos planes no los solucionar&aacute;n.</strong> De hecho, podr&iacute;an ser contraproducentes &ndash; y es seguro que <strong>causar&aacute; da&ntilde;os colaterales a la libertad de expresi&oacute;n y perjudicar&aacute;n a los creadores independientes, peque&ntilde;as editoriales y nuevas empresas.</strong> [tweetthis]Una propuesta de ley de la UE limitar&iacute;a la libertad de expresi&oacute;n y perjudicar&iacute;a a los creadores independientes, peque&ntilde;as editoriales y nuevas empresas. Dile a tu europarlamentario que detenga estos planes. #SaveYourInternet![/tweetthis]

H&aacute;zselo saber a tu miembro del Parlamento Europeo: entiendes los problemas que est&aacute;n intentando arreglar, pero esta ley no es apropiada ni es una soluci&oacute;n proporcionada. No es en el inter&eacute;s de la sociedad.

[caption id="attachment_9500" align="alignnone" width="1684"]<img class="wp-image-9500 size-full" src="https://juliareda.eu/wp-content/uploads/2018/06/art13graffiti.jpg" alt="" width="1684" height="985" /> &iexcl;Comparte esta imagen! Licencia: Dominio p&uacute;blico[/caption]

<a id="pressure" name="pressure"></a>
<h2>Grandes presiones</h2>
Lo que hace que esta pelea sea particularmente dif&iacute;cil: el otro lado est&aacute; jugando sucio, seg&uacute;n varios informes.

Hace un a&ntilde;o y medio, el comisario que propuso esta ley sali&oacute; a la luz e
<a href="https://www.youtube.com/watch?v=qxz9X_6Zvqc" target="_blank" rel="noopener">inst&oacute; a los editores a <strong>convencer a sus periodistas de que dejaran de criticarla</strong></a> (activa los subt&iacute;tulos para la traducci&oacute;n al ingl&eacute;s).

En un art&iacute;culo titulado <em>&quot;&iquest;Est&aacute; el editor
alem&aacute;n <a href="https://es.wikipedia.org/wiki/Axel_Springer_SE" target="_blank" rel="noopener">Axel Springer</a> usando a CDU [del partido gobernante alem&aacute;n] para <strong>fortalecer a Bruselas</strong>?&quot;,</em> <a href="https://www.neweurope.eu/article/german-publishers-axel-springer-using-cdu-strong-arm-brussels/" target="_blank" rel="noopener">una persona con informaci&oacute;n confidencial inform&oacute;:</a> <em>&quot:Abundan los rumores en Bruselas acerca de <strong>hasta qu&eacute; punto est&aacute;n dispuestos a llegar</strong>&quot;</em> para impulsar esta ley.

<em>&quot;S&eacute; que varios miembros de nuestro comit&eacute; han estado bajo una <strong>gran presi&oacute;n</strong> para votar a favor de esta propuesta en particular. Seg&uacute;n consta, la CDU alemana los ha estado presionando (&hellip;) y se han recibido <strong>informaciones de amenazas</strong> a miembros a los que no se les asignar&iacute;an informes ni posiciones en el Parlamento Europeo si, b&aacute;sicamente, no hacen lo que se les ordena&quot;</em>, revel&oacute; un europarlamentario al amparo del anonimato en otro art&iacute;culo, antes de que fuera <a href="https://www.techdirt.com/articles/20180531/00285739946/eu-parliament-members-play-hardball-terrible-copyright-policies-article-highlighting-sketchy-tactics-magically-disappears.shtml" target="_blank" rel="noopener">desconectado y editado</a> para reemplazar sus palabras con una declaraci&oacute;n oficial del lobby de los editores.

<em>&quot;<strong>La evidencia independiente es ignorada</strong> en respuesta a las intensas presiones&quot;</em>, <a href="https://www.create.ac.uk//wp-content/uploads/2018/04/OpenLetter_EU_Copyright_Research_Centres_26_04_2018.pdf" target="_blank" rel="noopener">se quejaron en una carta abierta</a> expertos de importantes centros de investigaci&oacute;n de toda Europa. En el Parlamento Europeo, la evidencia acad&eacute;mica se <a href="https://juliareda.eu/2017/12/jrc-paper-copyright/" target="_blank" rel="noopener">ocult&oacute;</a> o <a href="https://juliareda.eu/2017/12/extra-news-copyright-confusion/" target="_blank" rel="noopener">&quot;equilibr&oacute;&quot; a bombo y platillo</a>, como he documentado en este blog.

<em>&quot;La CDU y Axel Springer har&aacute;n todo lo posible, y no hace falta decir que la otra parte estar&aacute; subrepresentada en comparaci&oacute;n&quot;</em>, concluy&oacute; <a href="https://www.neweurope.eu/article/german-publishers-axel-springer-using-cdu-strong-arm-brussels/" target="_blank" rel="noopener">NewEurope</a>. <strong>Depende de todos nosotros equilibrar esa situaci&oacute;n.</strong> &iquest;Pondr&aacute;s tu granito de arena? [tweetthis]Los lobbies est&aacute;n a punto de ganar sobre el inter&eacute;s p&uacute;blico en una lucha sobre las #maquinasDeCensura y el #impuestoAlEnlace &ndash; necesitamos tu ayuda. #SaveYourInternet #censorshipMachines #linkTax:[/tweetthis]

<h2>Llama a tu representante ya</h2>
Por favor utiliza cualquiera de las siguientes herramientas gratuitas para <strong>llamar a tu representante ahora mismo</strong>. S&eacute; que llamar a los pol&iacute;ticos no es algo natural para la mayor&iacute;a de la gente, pero su trabajo es representarte, &iexcl;y es mucho m&aacute;s efectivo de lo que te imaginas! <a href="https://edri.org/stop-the-censorshipmachine-suggested-talking-points/" target="_blank" rel="noopener">Aqu&iacute; hay una gu&iacute;a para ayudarte con lo que deber&iacute;as decir.</a>

<ol class="countdown">
    <li><a href="https://www.saveyourinternet.eu/es/home-2/" target="_blank" rel="noopener"><strong>Save Your Internet</strong></a> por la alianza Copyright4Creativity</li>
    <li><a href="https://changecopyright.org/es" target="_blank" rel="noopener"><strong>Change Copyright</strong></a> por Mozilla, creadores de Firefox</li>
    <li><a href="https://act.openmedia.org/savethelink-call-es" target="_blank" rel="noopener"><strong>Save The Link</strong></a> por la ONG OpenMedia</li>
</ol>
Una vez llames, <strong>cu&eacute;ntale a tus amigos</strong> en las redes sociales. Si&eacute;ntete orgulloso de haber actuado e inspira a otros a seguir tu ejemplo.

<h2>Una nota final</h2>

&iquest;Est&aacute;s frustrado por tener que luchar constantemente por defender tus derechos digitales? Yo tambi&eacute;n.

No obstante me parece importante subrayar que la soluci&oacute;n a las malas propuestas legislativas y los desequilibrios en los grupos de presi&oacute;n no es maldecir o incluso abogar por abandonar la UE. (&iexcl;De hecho son los partidos anti-UE, euro-esc&eacute;pticos y de derechas los responsables de dar apoyo mayoritario a estas propuestas en el Comit&eacute;! &iexcl;No permitas que los pol&iacute;ticos euro-esc&eacute;pticos se salgan con la suya votando a favor de romper Internet y que despu&eacute;s culpen a la UE!)

Estos problemas tambi&eacute;n existen a nivel nacional, y regular Internet de 28 formas diferentes en un mismo continente es completamente inviable. <strong>El camino a seguir es participar plenamente en el proceso pol&iacute;tico de la UE</strong>: poner m&aacute;s atenci&oacute;n a la legislaci&oacute;n de la EU en sus etapas iniciales, exigir a tus medios de comunicaci&oacute;n locales m&aacute;s seguimiento period&iacute;stico, apoyar a organizaciones europeas de la sociedad civil que luchan por tus derechos (como <a href="https://edri.org/donate/" target="_blank" rel="noopener">EDRi</a>, <a href="https://www.liberties.eu/es/donate" target="_blank" rel="noopener">Liberties.eu</a>, <a href="https://www.access-info.org/donations" target="_blank" rel="noopener">Access Info</a> o <a href="https://corporateeurope.org/civicrm/contribute/transact?reset=1&id=16" target="_blank" rel="noopener">Corporate Europe Observatory</a>) y fortalecer a los partidos progresistas en las urnas.

Para entonces podremos luchar por un cambio positivo, y no solo defendernos contra las peores propuestas. Mientras tanto: &iexcl;aguanta y coge el tel&eacute;fono! Internet lo merece.
